.btn-success {
  color: black;
  background-color: #c4e099;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.btn-success:hover,
.btn-success.active {
  background-color: #7cbb32;
}

.my-class {
  background-color: #7cbb32;
  background-color: #7cbb32;
}

.filter-tags {
  text-align: center;
  border-bottom: solid 2px #c6c6c6;
}
