.starter-template {
  padding: 3rem 1.5rem;
  margin-top: 50px;
  margin-left: 30%;
}

.card-container {
  margin: 0px 0px 16px;
  flex: 0 0 24%;
  background: #fff;
    border-radius: 6px;
}

.card-group {
  padding: 18px;
}

.img-container {
  background: #f2f2f2;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  opacity: .9;

}
img.card-img-top {
  max-width: 100%;
}

.pad-bottom{
  padding-bottom: 3%;
}
